@charset "utf-8";
h1 {
    color: blue;
    background-color: skyblue;
}
.message{
    color: blue;
}
.error {
    color: red;
}

table, tr, th, td {
    border: solid 1px;
}
td img {
    width: 150px;
}
li img{
    width: 150px;
}
.gray{
    background-color: #ccc;
}
.amazon{
    width: 100%;
}
.flex{
    display: flex;
    flex-direction: column;
}
side{
  display: block;
}
.flexbox-right{
   align-items: flex-end;
}
